# Binaries and build artifacts
/main
*.exe
*.dll
*.so
*.dylib

# Build directories
/build_output/
/output*/
/converted_output*/

# Log Directories and files
/logs_*

# Go specific
*.test
*.out
/vendor/

# IDE specific
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project specific
/output_alac/
/output_aac/
/output_atmos/
